<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\99293\Desktop\project\static\css\w.css">
    <script src="e.js"></script>
    <title>IT-RUN</title>
    <link type="text/css" href="{{ url_for('static', filename='css/w.css')}}" rel="stylesheet" />
</head>
<body>

<link rel="stylesheet" href="static/css/w.css">

<header>
    <nav>  
        <ul>    
        {% for m in menu %}
        <li>{{m}}</li>
        {% endfor %}
        </ul>  
    </nav>

    <button><a href="http://127.0.0.1:5000/register">Зарегистрироваться</a></button>

</header>

<main>
    <p id = Home> Для нас важно не только дать актуальные знания, а помочь слушателям нацеленным на результат и закрепиться в IT-индустрии. Поэтому вместо разрозненных курсов мы делаем упор на структурированные и последовательные программы, изучения которых позволяет получить работу junior и middle специалистов.</p>
    <p id = About> Умение программировать также важно как умение читать. Это требования рынка и нового мира. «Новый Алгоритм» занимается обучением IT- программированию и цифровой грамотности. Основная цель организации — развитие логики, понимания и обучение программирования, цифровой грамотности и подготовка юных кадров. Установлено, что благодаря занятиям программированием дети начинают проявлять интерес к изучению математики, у них увеличивается словарный запас, развивается творческое мышление.</p>
    <p id = Contact>Сегодня мир пришел к тому, что в информационной сфере занято множество людей, тем или иным образом соприкасающихся с программированием. ООО «Новый Алгоритм» занимается обучением IT- программированию и цифровой грамотности. Основная цель организации — развитие логики, понимания и обучение программирования, цифровой грамотности и подготовка юных кадров. В рамках наших курсов вне зависимости от того, имеют ли наши заявители профильное образование в области IT, будут получать компетенции, позволяющие им использовать инструменты, которые предлагают современные информационные технологии.</p>
</main>\

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, sw 54321, chandigarh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>9876543210 0</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>mail@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                            elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    

</body>
</html>